/* App.css */

/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

header {
  font-family: 'Sedan', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 25px;
}

/* Applying Poppins font to the entire application */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Setting a light background color */
}

/* Styling the navigation bar */
nav {
  background-color: #333; /* Setting a dark background color */
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Sedan', sans-serif;
  font-style: italic;
}

nav ul li {
  display: inline;
  margin-right: 30px; /* Increased spacing between links */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

nav ul li a {
  color: #fff; /* Setting a white text color */
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffd700; /* Setting a yellow text color on hover */
}

/* Styling the container div */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Setting a white background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
}

/* Styling the h2 element */
h2 {
  color: #333; /* Setting a dark text color */
  margin-bottom: 10px;
  font-style: italic;
  font-family: 'Sedan', sans-serif;
  font-size: 3.7rem; /* Adjust font size as needed */
}

/* Styling the paragraph element */
p {
  color: black; /* Setting a slightly darker text color */
  line-height: 1.8; /* Adjust line height for readability */
  font-size: 1.2rem; /* Adjust font size as needed */
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center text */
}

/* Style for image container */
.image-container {
  flex: 1;
  margin-right: 20px; /* Add some spacing between image and text */
}

/* Style for content container */
.content-container {
  flex: 1;
}

/* Style for the image inside image container */
.image-container img {
  max-width: 100%;
  height: 700px;
}

/* Styling the home container */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Set position relative for absolute positioning of the background */
}

/* Style for the image container */
.image-container {
  flex: 1;
  margin-right: 20px;
}

/* Style for the content container */
.content-container {
  flex: 1;
}

/* Styling the background image */
.home-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%; /* Position the background on the right side */
  background-image: url('./images/BurgerBg.png'); /* Path to the BurgerBg image */
  background-size: cover;
  opacity: 0.2; /* Lowered opacity */
  z-index: -1;
}

/* Styling for the text */
h2, p {
  position: relative; /* Ensure text stays above the background */
  z-index: 1; /* Ensure text stays above the background */
}

/* MainCourse.css */

.main-course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('images/mainbg.png'); /* Adjusted path */
  background-size: contain;
  background-position: center;
}

.food-card {
  width: 350px; /* Increased width */
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.food-image {
  width: 100%;
  height: 350px; /* Increased height */
  object-fit: cover;
}

.food-details {
  padding: 20px;
}

.food-name {
  font-size: 30px; /* Increased font size */
  margin-bottom: 10px;
  font-family: 'Sedan', sans-serif;
  font-style: italic;
  align-content: center;
}

.food-description {
  font-size: 16px; /* Increased font size */
  color: #666;
}

/* Pizza.css */

.pizza-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('images/pizzabg.png'); /* Adjusted path */
  background-size: contain;
  background-position: center;
}

.pizza-card {
  width: 350px; /* Increased width */
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.pizza-image {
  width: 100%;
  height: 350px; /* Increased height */
  object-fit: cover;
}

.pizza-details {
  padding: 20px;
}

.pizza-name {
  font-size: 30px; /* Increased font size */
  margin-bottom: 10px;
  font-family: 'Sedan', sans-serif;
  font-style: italic;
  align-content: center;
}

.pizza-description {
  font-size: 16px; /* Increased font size */
  color: #666;
}

/* Desserts.css */

.desserts-container {
  padding: 20px;
  text-align: center; /* Center the gallery */
  background-color: #CCD1D1 ;
}

.dessert-gallery {
  display: flex;
  justify-content: center; /* Center the items within the gallery */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.dessert-item {
  margin-right: 20px;
  text-align: center;
  background-color: #F2F3F4; /* White background */
  border-radius: 20px; /* Border radius */
  padding: 20px; /* Add padding */
}

.dessert-image {
  width: 250px; /* Increase the width */
  height: 280px; /* Increase the height */
  object-fit: cover;
  border-radius: 10px;
}

.dessert-name {
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px; /* Increase the font size */
  color: black; /* White text color */
  font-family: 'Sedan', sans-serif;
}

/* Drinks.css */

.drinks-container {
  padding: 40px;
  text-align: center;
  background-image: url('./images/drinkbg.png'); /* Path to the BurgerBg image */
  background-size: cover;
}

.drinks-container h2 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.drinks-gallery {
  display: flex;
  justify-content: center;
  gap: 20px; /* Spacing between drink items */
  margin-top: 30px; /* Add some space between title and gallery */
}

.drink-item {
  max-width: 300px; /* Limit maximum width */
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.drink-image {
  width: 100%; /* Make the image fill its container */
  max-height: 200px; /* Limit maximum height */
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners */
}

.drink-name {
  margin-top: 10px;
  font-size: 30px; /* Larger font size for name */
  font-family: 'Sedan', sans-serif;
  font-style: italic;
}

.drink-description {
  color: #666; /* Dim text color for description */
}

/* Contact Us css */

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #CCD1D1;
  color: black;
}

.left-section {
  flex: 1;
  padding-right: 20px;
  padding-left: 200px;
  font-size: 20px;
  color: black;
}

.left-section h2, p {
  color: black;
}

.right-section {
  flex: 1;
  padding-left: 30px;
  padding-right: 20px;
  color: black;
}

.contact-card {
  background-color: #f1f5f8;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
  margin-right: 200px;

}

.contact-card h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  background-color:#333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #ffd700;
  color: black;
}
